@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="list-group">
    @foreach (var item in Model.Recipes)
    {
        <div class="list-group-item">
            <h2>@item.Name</h2>
            <p>@item.Description</p>
            <a asp-page="/Recipes/Details" asp-route-id="@item.Id">View Recipe</a>
        </div>
    }
</div>