@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h2>Filter</h2>
<form>
    <select asp-for="FilterType">
        <option value="-1">Select type</option>
        <option value="0">Non Vegan</option>
        <option value="1">Vegan</option>
    </select>
    <input type="submit" value="Filter" class="btn btn-outline-primary"/>
</form>

<div class="list-group">
    @foreach (var item in Model.Recipes)
    {
        <div class="list-group-item" style="margin-top: 10px">
            <h2>@item.Name</h2>
            <p>@item.Description</p>
            <a asp-page="/Recipes/Details" asp-route-id="@item.Id">View Recipe</a>
        </div>
    }
</div>