@page "{id:int}"
@model Web.Pages.Ingredients.EditModel
@using Entities
@{
    ViewData["Title"] = "Edit Ingredient";
}

<h1>Edit @Model.Ingredient.Name</h1>

<form method="post">
    <input asp-for="Ingredient.Id" type="hidden" />

    <div class="form-group">
        <label asp-for="Ingredient.Name"></label>
        <input asp-for="Ingredient.Name" />
        <span asp-validation-for="Ingredient.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ingredient.Type"></label>
        <select asp-for="Ingredient.Type" asp-items="Html.GetEnumSelectList<IngredientType>()"></select>
        <span asp-validation-for="Ingredient.Type"></span>
    </div>

    <input type="submit" value="Save Changes" />
</form>